App_WebReferences/ConsultaCURP/ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://sst.tamaulipas.gob.mx/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://sst.tamaulipas.gob.mx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://sst.tamaulipas.gob.mx/">
      <s:element name="BuscarCURP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="curp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarCURPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarCURPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarCURPSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarCURP" />
  </wsdl:message>
  <wsdl:message name="BuscarCURPSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarCURPResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarCURPHttpGetIn">
    <wsdl:part name="curp" type="s:string" />
    <wsdl:part name="userLogin" type="s:string" />
    <wsdl:part name="userPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuscarCURPHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BuscarCURPHttpPostIn">
    <wsdl:part name="curp" type="s:string" />
    <wsdl:part name="userLogin" type="s:string" />
    <wsdl:part name="userPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuscarCURPHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="wsSoap">
    <wsdl:operation name="BuscarCURP">
      <wsdl:input message="tns:BuscarCURPSoapIn" />
      <wsdl:output message="tns:BuscarCURPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsHttpGet">
    <wsdl:operation name="BuscarCURP">
      <wsdl:input message="tns:BuscarCURPHttpGetIn" />
      <wsdl:output message="tns:BuscarCURPHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsHttpPost">
    <wsdl:operation name="BuscarCURP">
      <wsdl:input message="tns:BuscarCURPHttpPostIn" />
      <wsdl:output message="tns:BuscarCURPHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSoap" type="tns:wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarCURP">
      <soap:operation soapAction="https://sst.tamaulipas.gob.mx/BuscarCURP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSoap12" type="tns:wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarCURP">
      <soap12:operation soapAction="https://sst.tamaulipas.gob.mx/BuscarCURP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsHttpGet" type="tns:wsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="BuscarCURP">
      <http:operation location="/BuscarCURP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsHttpPost" type="tns:wsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="BuscarCURP">
      <http:operation location="/BuscarCURP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws">
    <wsdl:port name="wsSoap" binding="tns:wsSoap">
      <soap:address location="https://sst.tamaulipas.gob.mx/ws.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSoap12" binding="tns:wsSoap12">
      <soap12:address location="https://sst.tamaulipas.gob.mx/ws.asmx" />
    </wsdl:port>
    <wsdl:port name="wsHttpGet" binding="tns:wsHttpGet">
      <http:address location="https://sst.tamaulipas.gob.mx/ws.asmx" />
    </wsdl:port>
    <wsdl:port name="wsHttpPost" binding="tns:wsHttpPost">
      <http:address location="https://sst.tamaulipas.gob.mx/ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>